<%= simple_form_for([@user, @booking]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs style="margin 0 15% 0 15%"">
    <%= f.input :timeslot, :collection => %w[18:00-22:00 19:00-23:00 20:00-00:00] %>
    <br>

    <table class="table table-bordered table-striped">
      <td>
        <div class="field">
          Start 1 hour earlier @ extra €15:
          <%= check_box_tag 'booking[h1xe]', '1xe' %>
        </div>
      </td>
      <td
        <div class="field">
          Start 2 hours earlier @ extra €30:
          <%= check_box_tag 'booking[h2xe]', '2xe' %>
        </div>
      </td>  
      <td>
          <div class="field">
          End 1 hour later @ extra €20:
          <%= check_box_tag 'booking[h1xl]', '1xl' %>
        </div>
      </td>
    </table>

    <%= f.input :date, wrapper_html: {id: "date-input"} do %>
      <span class="input-group-addon">
      <%= f.input_field :date, as: :string, class: "form-control" %>
      <i class="fa fa-calendar"></i></span>
    <% end %>
    <br><br>
    <% if current_user.try(:admin?) %>
    <% else %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
    <%= f.hidden_field :price, :value => 45 %>
    <%= f.hidden_field :zone_id, :value => current_user.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>