<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us
                <small>No secrets here</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About Us</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <%= image_tag("ph.jpg", :alt => "painted hands") %>
        </div>
        <div class="col-md-6">
            <h2 class=text-center>Give me your child from 19:00 until 23:00, and I will give you back your child.</h2>
            <p>Give me your tired, your poor, Your huddled masses yearning to breathe free, The wretched refuse of your teeming shore. Send these, the homeless, tempest-tossed to me, I lift my lamp beside the golden door!</p>
            <p>Well, that may (hopefully) overstate things, but we are really good at babysitting.  We have designed a review system specifically to ensure that you can have confidence in the service provided, and a clear process to leave feedback</p>
            <p>If you have any questions on how our review system works check out our FAQ section or drop us a line!</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- premises -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Testimonials</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag("hb.jpg", :alt => "happy client 1") %>
                <div class="caption">
                    <h3>Excellent Service<br>
                        <small>Mary and Joe Reynolds</small>
                    </h3>
                    <p>"It was so easy.  The website is superb and the rating system made it so safe."</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag("hl.jpg", :alt => "happy client 2") %>
                <div class="caption">
                    <h3>I can't wait til the next time<br>
                        <small>Lucy Brennan Age 3</small>
                    </h3>
                    <p>I had the best fun ever.  Janet never said 'wait a minute'.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag("ht.jpg", :alt => "happy client 3") %>
                <div class="caption">
                    <h3>Tremendous<br>
                        <small>Kitty O'Hare</small>
                    </h3>
                    <p>I didn't even go out.  I hid in the spare bedroom and read.  Best evening ever.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
