<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12" >
            <h1 class="page-header text-center">All your bookings in one place 
                <small>looking after you well</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <% if current_user.try(:admin?) %>
                    <li class="active">Bookings for all Clients </li>
                <% else %>
                    <li class="active">Bookings for <%= current_user.name %></li>
                <% end %> 
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div style="margin-left:5%">
        
        
        <table class="table table-bordered table-striped">
            <tr>
                <% if (current_user.try(:sitter?) || current_user.try(:admin?)) %>
                    <th>Client</th>  
                <% end %>
                <% if (current_user.try(:client?) || current_user.try(:admin?)) %>
                    <th>Sitter</th>  
                <% end %>           
                <th>Booking Date</th>
                <th>Time Slot</th> 
                <th>Price in €</th>
                <th>Add Ons</th>
            </tr>
          	<% for booking in Booking.all.order("date ASC") %>
	            <% for user in User.where(id: current_user.id) %>
	                <% if (booking.user_id == current_user.id || booking.zone_id == current_user.id || current_user.try(:admin?)) %>
                        <tr>
                            <% if (current_user.try(:sitter?) || current_user.try(:admin?)) %>
                                <td class="text-center"><%= User.where(:id => booking.zone_id).pluck(:name).first %></td>
                            <% end %>                            
                            <% if (current_user.try(:client?) || current_user.try(:admin?)) %>
                                <td class="text-center"><%= User.where(:id => booking.user_id).pluck(:name).first %></td>
                            <% end %>  
        	                <td class="text-center"><%= booking.date %></td>
        	                <td class="text-center"><%= booking.timeslot %></td>	                    
                            <td class="text-center"><%= booking.price %></td>
                            <td class="text-center"><%= booking.add_on %></td>
                            <% if booking.confirmed == false && (current_user.try(:sitter?) || current_user.try(:admin?)) %>
                                <td class="text-center"><%= link_to link_to "Confirm Booking", update_confirmed_booking_path(booking), method: :patch, :class => 'btn btn-warning' %></td>
                            <% else %>
                                <% if booking.confirmed == false %>
                                    <td class="text-center"><%= submit_tag 'Not Confirmed',  :type => 'button', :class => 'btn btn-warning' %></td>
                                <% end %>
                                <% if booking.confirmed == true  %>
                                    <td class="text-center"><%= submit_tag 'Confirmed',  :type => 'button', :class => 'btn btn-success' %></td>
                                <% end %>
                            <% end %>  
                            <% if (current_user.try(:sitter?) || current_user.try(:admin?)) %>
                                <td class="text-center"><a href="/bookings/<%= booking.id %>/reviews" class="btn btn-primary">Client Reviews</a></td>
                            <% end %> 
                            <% if (current_user.try(:client?) || current_user.try(:admin?)) %>
                                <td class="text-center"><a href="/bookings/<%= booking.id %>/ratings" class="btn btn-primary">Sitter Rating</a></td>
                            <% end %>                             
                            <% if (booking.confirmed == false ) && booking.date > Date.today %>
                                <td class="text-center"><%= link_to ' Delete ', user_booking_path(User.all, booking), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
                            <% end %>
                            <% if (booking.confirmed == true ) && current_user.try(:admin?) && booking.date > Date.today %>
                                <td class="text-center"><%= link_to ' Delete ', user_booking_path(User.all, booking), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
                            <% end %>                            
                        </tr>
                    <% end %>
	            <% end %>
	        <% end %> 
        </table>        
    
    </div>
    <br><br>
    <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %>
    </ol>
</div>