<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Welcome to The Undisclosed Location 
                <small>Area 51 got nothing on us</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">VIP Lounge</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Service Panels -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Exclusive Zones</h2>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading img-responsive">
                    <%= image_tag("sl.jpg", :alt => "second life") %>
                </div>
                <div class="panel-body">
                    <h4>Second Life</h4>
                    <p>Second Life gives you the chance to live another life virtually, a second one to your own, 
                    with more opportunities and entertainment than reality has to offer.</p>
                    <a href="zones/6/bookings" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <%= image_tag("c3d.jpg", :alt => "chathouse 3d") %>
                </div>
                <div class="panel-body">
                    <h4>Chathouse 3D</h4>
                    <p>Excitement online is not always easy to find. 
                    As an adult, you have to get more creative to find something that you find truly engaging.</p>
                    <a href="zones/7/bookings" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <%= image_tag("vt.jpg", :alt => "vtime") %>
                </div>
                <div class="panel-body">
                    <h4>VTIME</h4>
                    <p>In Vtime you will make your avatar, choose your name, and go to different rooms. 
                    It is a great place to make friends and stay in touch with people you already know.</p>
                    <a href="zones/8/bookings" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <%= image_tag("IMVU.jpg", :alt => "imvu") %>
                </div>
                <div class="panel-body">
                    <h4>IMVU</h4>
                    <p>IMVU is geared towards those who want to chat and those who want to create. 
                    Let your social and creative juices flow here in a community of like-minded people</p>
                    <a href="zones/9/bookings" class="btn btn-primary">Book Now</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Zone Details</h2>
        </div>
        <div class="col-lg-12">

            <ul id="myTab" class="nav nav-tabs nav-justified">
                <li class="active"><a href="#service-one" data-toggle="tab"><i class=img-responsive"><%= image_tag("sl.jpg", :alt => "second life") %></i></a>
                </li>
                <li class=""><a href="#service-two" data-toggle="tab"><i class=img-responsive"><%= image_tag("c3d.jpg", :alt => "second life") %></i></a>
                </li>
                <li class=""><a href="#service-three" data-toggle="tab"><i class=img-responsive"><%= image_tag("vt.jpg", :alt => "second life") %></i></a>
                </li>
                <li class=""><a href="#service-four" data-toggle="tab"><i class=img-responsive"><%= image_tag("IMVU.jpg", :alt => "second life") %></i></a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="service-one">
                    <h4>Second Life</h4>
                    <p>You have plenty of things to do in Second Life. While you can party and explore, you can also work and 
                    live a normal life. This game gives you plenty of opportunities and choices so that it can truly be a second 
                    life for you. You will be able to have fun, create and meet goals, improve your character, make friends, and 
                    explore the world around you. There are plenty of activities and fun things to do on this game, making it as 
                    close to reality as you can get while still being incredibly entertaining.</p>

                    <p>You cannot have a virtual reality without other people. The social feature of Second Life is truly what 
                    makes this game remarkable. While games like The Sims are entertaining and have a lot to offer, they do not 
                    give you real people as neighbors and friends. Rather than stick with the NPC crowd, you can move over to 
                    Second Life to speak to and befriend real people</p>                
                </div>
                <div class="tab-pane fade" id="service-two">
                    <h4>Chathouse 3D</h4>
                    <p>Chathouse 3D gives you an exceptional customizing build. You have control every aspect of the character’s 
                    body. You can also make other characters, both male and female, if you want to explore and enjoy the features 
                    as either gender. It gives you the chance to play the way you want to play. With the high quality graphics of 
                    the game, you can enjoy the detail and the options that are available. No matter your character, it will look 
                    good and it will aim in immersion.</p>

                    <p>When you first make an account on Chathouse 3D, you can start playing for free. There is no cost to begin. 
                    You can still enjoy a large community of other like-minded adults, of course, but you will not have the ability 
                    to enjoy one of the major features of the game. You can still customize, chat, explore, and enjoy the surroundings 
                    as much as you would like. If you have the desire to upgrade, the cost is 20 dollars a month.</p>
                </div>
                <div class="tab-pane fade" id="service-three">
                    <h4>VTIME</h4>
                    <p>Any time you are ready, you can begin to chat. This is a game accessed by people from across the globe. Meet 
                    all types of new people when you play, making new friends and having memorable conversations. You can talk about 
                    anything here. Since adults are the primary audience for VTime, you do not have to worry about watching what you 
                    say.</p>
                    
                    <p>Feel comfortable talking to other users, or making your own room and inviting people. When you meet people and 
                    you like them, friend them so that you can chat at any time in the future. It is everything you expect in a social 
                    game.</p>
                </div>
                <div class="tab-pane fade" id="service-four">
                    <h4>IMVU</h4>
                    <p>The chat system is extremely easy to use, with bubbles showing above your avatar every time you “say” 
                    something and an old-school chat log at the bottom of the screen, where you can see all of the conversation 
                    in the room as it happens and where you can add your own input. The program is quick, with no apparent lag 
                    time, and overall a well-thought out feature. If I’m being nitpicky, the fact that you can’t automatically 
                    click on a name and direct your comment to a specific user is kind of annoying; instead, you have to type 
                    out the avatar name.</p>

                    <p>Of course, chat rooms aren’t the only option. You can also use the “Chat Now” feature,where IMVU randomly 
                    sets you up with another user in the generic coffee house BuckStars.</p>

                    <p>Because the program randomly sets you up with another user, there’s no telling who you’ll end up having 
                    coffee with. My first set-up failed – the user left the room without even saying hello! However, the second 
                    set-up worked out well, and a conversation involving hobbies and the best movies ensued. Chatting was simple, 
                    the avatars moved gracefully when left alone, and there’s even several action options you can manually choose, 
                    from giving a hug to stepping on someone’s foot. I opted not to step on the other player, and instead let my 
                    avatar play with her hands and flip her hair as she chose.</p>
                </div>
            </div>

        </div>
    </div>



</div>
<!-- /.container -->
